In [62]:
import json
import pandas as pd

df_1= pd.read_csv("results/2021-03-16_19-34-32/user_trips.csv")
print(df_1.dtypes)
df_2= pd.read_csv("results/2021-03-16_19-36-39/user_trips.csv")
df_3= pd.read_csv("results/2021-03-16_19-38-57/user_trips.csv")
df_4= pd.read_csv("results/2021-03-16_19-40-20/user_trips.csv")
df_5= pd.read_csv("results/2021-03-16_19-41-40/user_trips.csv")
df_5_2=pd.read_csv("results/2021-03-16_19-42-52/user_trips.csv")
df_5_3=pd.read_csv("results/2021-03-16_19-45-27/user_trips.csv")
df_5_4=pd.read_csv("results/2021-03-16_19-47-48/user_trips.csv")
df_5_5=pd.read_csv("results/2021-03-16_19-52-17/user_trips.csv")
# Look at the column names
#print(df.columns)
df_1.head()

user_id                           int64
bike_id                          object
mode                              int64
time_departure                    int64
time_target                       int64
time_walk_origin                 object
time_ride                        object
time_wait                       float64
time_walk_destination            object
origin_lon                      float64
origin_lat                      float64
destination_lon                 float64
destination_lat                 float64
origin_visited_stations          object
destination_visited_stations     object
origin_station                   object
destination_station              object
magic_bike                        int64
magic_dock                        int64
bike_lon                        float64
bike_lat                        float64
dtype: object

,user_id,bike_id,mode,time_departure,time_target,time_walk_origin,time_ride,time_wait,time_walk_destination,origin_lon,...,destination_lon,destination_lat,origin_visited_stations,destination_visited_stations,origin_station,destination_station,magic_bike,magic_dock,bike_lon,bike_lat
0,5,2786,0,487,2190,1,1,NaN,113,-71.05950,...,-71.06084,42.37348,313,313,313,313,0,0,NaN,NaN
1,6,1787,0,530,2179,198,182,NaN,133,-71.06350,...,-71.06125,42.37233,200,313,200,313,0,0,NaN,NaN
2,4,206,0,399,908,1,560,NaN,156,-71.07866,...,-71.08908,42.39192,22,139,22,139,0,0,NaN,NaN
3,7,1142,0,552,723,1,281,NaN,323,-71.11700,...,-71.11036,42.38580,130,109,130,109,0,0,NaN,NaN
4,2,2750,0,366,633,162,426,NaN,283,-71.11387,...,-71.11863,42.36180,309,269,309,269,0,0,NaN,NaN

In [61]:
df_1 = df_1[df_1['time_walk_origin']!= 'None']
df_1[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_1[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF1:')
print(df_1['time_walk_origin'].describe())
print(df_1['time_ride'].describe())
print(df_1['time_walk_destination'].describe())


df_2 = df_2[df_2['time_walk_origin']!= 'None']
df_2[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_2[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF2:')
print(df_2['time_walk_origin'].describe())
print(df_2['time_ride'].describe())
print(df_2['time_walk_destination'].describe())



df_3 = df_3[df_3['time_walk_origin']!= 'None']
df_3[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_3[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF3:')
print(df_3['time_walk_origin'].describe())
print(df_3['time_ride'].describe())
print(df_3['time_walk_destination'].describe())



df_4 = df_4[df_4['time_walk_origin']!= 'None']
df_4[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_4[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF4:')
print(df_4['time_walk_origin'].describe())
print(df_4['time_ride'].describe())
print(df_4['time_walk_destination'].describe())


df_5 = df_5[df_5['time_walk_origin']!= 'None']
df_5[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_5[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF5:')
print(df_5['time_walk_origin'].describe())
print(df_5['time_ride'].describe())
print(df_5['time_walk_destination'].describe())


df_5_2 = df_5_2[df_5_2['time_walk_origin']!= 'None']
df_5_2[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_5_2[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF5_2:')
print(df_5_2['time_walk_origin'].describe())
print(df_5_2['time_ride'].describe())
print(df_5_2['time_walk_destination'].describe())


df_5_3 = df_5_3[df_5_3['time_walk_origin']!= 'None']
df_5_3[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_5_3[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF5_3:')
print(df_5_3['time_walk_origin'].describe())
print(df_5_3['time_ride'].describe())
print(df_5_3['time_walk_destination'].describe())

df_5_4 = df_5_4[df_5_4['time_walk_origin']!= 'None']
df_5_4[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_5_4[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF5_4:')
print(df_5_4['time_walk_origin'].describe())
print(df_5_4['time_ride'].describe())
print(df_5_4['time_walk_destination'].describe())

df_5_5 = df_5_5[df_5_5['time_walk_origin']!= 'None']
df_5_5[['time_walk_origin', 'time_walk_destination', 'time_ride']] = df_5_5[['time_walk_origin', 'time_walk_destination','time_ride']].apply(pd.to_numeric) 
print('DF5_5:')
print(df_5_5['time_walk_origin'].describe())
print(df_5_5['time_ride'].describe())
print(df_5_5['time_walk_destination'].describe())


#print(df_1.dtypes)
#df_1.shape

#df['user_id'].min()
#df['user_id'].max()
#df['user_id'].mean()
#df['user_id'].std()
#df['user_id'].count()

#print(df['mode'].value_counts())
#print(df['bike_id'].value_counts(normalize='True'))
#df_bikes= df.groupby('bike_id')
#df_bikes.head(5)

DF1:
count    6974.000000
mean      173.145971
std       136.192944
min         1.000000
25%        96.000000
50%       157.000000
75%       223.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6974.000000
mean      830.622025
std       544.431080
min         1.000000
25%       436.000000
50%       713.000000
75%      1102.000000
max      4133.000000
Name: time_ride, dtype: float64
count    6974.000000
mean      182.809292
std       156.876396
min         0.000000
25%       103.000000
50%       161.000000
75%       226.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF2:
count    6974.000000
mean      173.764984
std       133.013261
min         1.000000
25%        96.000000
50%       157.000000
75%       223.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6974.000000
mean      824.837253
std       541.529470
min         1.000000
25%       433.000000
50%       710.000000
75%      1099.000000
max      3849.000000
Name: time_ride, dtype: float64
count    6974.000000
mean      177.869659
std       144.700328
min         0.000000
25%        96.000000
50%       160.000000
75%       227.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF3:
count    6957.000000
mean      174.998563
std       139.829448
min         1.000000
25%        97.000000
50%       157.000000
75%       223.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6957.000000
mean      828.607015
std       533.515378
min         1.000000
25%       437.000000
50%       717.000000
75%      1098.000000
max      3966.000000
Name: time_ride, dtype: float64
count    6957.000000
mean      179.987495
std       149.931643
min         0.000000
25%        98.000000
50%       159.000000
75%       227.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF4:
count    6974.000000
mean      173.145971
std       136.192944
min         1.000000
25%        96.000000
50%       157.000000
75%       223.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6974.000000
mean      830.622025
std       544.431080
min         1.000000
25%       436.000000
50%       713.000000
75%      1102.000000
max      4133.000000
Name: time_ride, dtype: float64
count    6974.000000
mean      182.809292
std       156.876396
min         0.000000
25%       103.000000
50%       161.000000
75%       226.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF5:
count    6962.000000
mean      175.457627
std       143.933694
min         1.000000
25%        96.000000
50%       157.000000
75%       222.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6962.000000
mean      829.982045
std       542.223630
min         1.000000
25%       436.000000
50%       719.000000
75%      1106.000000
max      4288.000000
Name: time_ride, dtype: float64
count    6962.000000
mean      179.720770
std       148.071519
min         0.000000
25%        99.000000
50%       160.000000
75%       227.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF5_2:
count    6963.000000
mean      175.070516
std       144.188581
min         1.000000
25%        96.000000
50%       156.000000
75%       221.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6963.000000
mean      831.430705
std       544.331711
min         1.000000
25%       437.000000
50%       718.000000
75%      1112.500000
max      3854.000000
Name: time_ride, dtype: float64
count    6963.000000
mean      179.916703
std       146.733996
min         0.000000
25%       101.000000
50%       161.000000
75%       226.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF5_3:
count    6951.000000
mean      175.107754
std       144.383382
min         1.000000
25%        96.000000
50%       156.000000
75%       222.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6951.000000
mean      831.506546
std       544.231468
min         1.000000
25%       437.000000
50%       717.000000
75%      1112.000000
max      3966.000000
Name: time_ride, dtype: float64
count    6951.000000
mean      180.737160
std       148.250533
min         0.000000
25%       100.000000
50%       161.000000
75%       227.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF5_4:
count    6956.000000
mean      174.690196
std       143.366099
min         1.000000
25%        96.000000
50%       156.000000
75%       221.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6956.000000
mean      831.700978
std       543.268354
min         1.000000
25%       436.000000
50%       717.000000
75%      1115.500000
max      4516.000000
Name: time_ride, dtype: float64
count    6956.000000
mean      179.915612
std       148.555034
min         0.000000
25%        99.000000
50%       160.000000
75%       226.000000
max      1766.000000
Name: time_walk_destination, dtype: float64
DF5_5:
count    6965.000000
mean      175.402297
std       144.379980
min         1.000000
25%        96.000000
50%       157.000000
75%       222.000000
max      1767.000000
Name: time_walk_origin, dtype: float64
count    6965.000000
mean      834.021967
std       544.480712
min         1.000000
25%       437.000000
50%       719.000000
75%      1114.000000
max      3854.000000
Name: time_ride, dtype: float64
count    6965.000000
mean      180.227566
std       148.276656
min         0.000000
25%       100.000000
50%       160.000000
75%       226.000000
max      1766.000000
Name: time_walk_destination, dtype: float64

In [27]:
no_trip = df[df['time_walk_origin']== 'None']
no_trip.shape

(3572, 21)